.cards {
  margin: 0;
  position: relative;
}

.cards__heading{
  font-size: 20px;
  line-height: 24.8px;
  margin: 40px 0 34px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}
