@font-face {
  src: url("../../assets/CabinetGrotesk-Bold.woff") format(woff);
  font-family: CabinetGrotesk;
}

@font-face {
  src: url("../../assets/CabinetGrotesk-Medium.woff") format(woff);
  font-family: CabinetGrotesk;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24px;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__add-clothes-btn {
  padding: 0 0 0 20px;
  border: none;
  font-weight: 700;
}

.header__date-location {
  margin: 0 auto 0 0;
}

.header__username {
  margin: 0 12px 0 20px;
  line-height: 24.8px;
}

.header__link {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__menu-icon {
  visibility: hidden;
}

@media screen and (max-width: 550px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .header__logo {
    margin: 0 0 32px 0;
  }

  .header__date-location {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .header__user-container {
    display: none;
  }

  .header__mobile-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .header__menu-icon {
    visibility: visible;
    background: transparent
      url(/se_project_react/src/assets/mobile-menu-btn.svg) no-repeat;
    border: none;
    width: 54px;
    height: 54px;
    overflow: auto;
  }
}
