.modal__btn-signup {
  margin: 16px 0 0;
  background: #fff;
  color: #00000080;
  border: none;
  padding: 8px 16px;
  gap: 8px;
  width: fit-content;
  position: absolute;
  top: 254px;
  left: 116px;
  padding: 0;
}
